ul.my-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

li.my-item {
	background: tomato;

	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	width: 200px;
	padding: 5px;
	border: 0;
	margin: 10px 0 0;
}